@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary: #7c73e6;
  --primary-light: #c4c1e0;
  --secondary: #ffe9e3;
  --secondary-light: #fafafa;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  display: flex;
}
