@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary: #7c73e6;
  --primary-light: #c4c1e0;
  --secondary: #ffe9e3;
  --secondary-light: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  background: var(--primary-light);
}
input {
  width: 100%;
  padding: 1rem;
  border: none;
  margin-bottom: 1rem;
  border: var(--primary-light) 0.1rem solid;
  text-align: center;
  font-size: 1rem;
  color: var(--primary);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  width: 800px;
  height: 400px;
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  color: var(--primary);
}

.form__input {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.equals {
  font-size: 3.5rem;
  color: var(--primary);
}

.form__group {
  display: flex;
  flex-direction: column;
}

#fromTemp,
#toTemp {
  border: var(--primary-light) 0.1rem solid;
  padding: 0.3rem;
  color: var(--primary);
  cursor: pointer;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in;
  padding: 1rem 2rem;
  background-color: var(--primary);
  color: var(--secondary-light);
  border-radius: 2rem;
  font-size: 1rem;
}
